@import "tailwindcss";


/* Custom scrollbar for light theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #d87757;
}
::-webkit-scrollbar-thumb {
  background: #d87757;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d87757;
}
